@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Available Roles For Application</h2>
<section>
    <table>
        @Html.ActionLink("Create Role", "Create", "Role", new { @class = "btn btn-primary btn-sm btn-block" })
        <br />
    </table>
</section>
<section>
    <table>
        @Html.ActionLink("Assign Role To User", "RegisterRole", "Account", new { @class = "btn btn-primary btn-sm btn-block" })
        
    </table>
</section>
<br/>
<table class="table table-bordered table-hover">
    <tr>
        <th class="c">Role Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">@item.Name</td>
        </tr>
    }
</table>

