
@{
    ViewBag.Title = "Terms";
}

<h2>Terms and Conditions</h2>

<h3>1. LIMIT LIABILITY</h3>
<p>
    This website is created for educational purposes. If any error or violation occurs, we advise the user to understand that it happens unintentionally. Developers will not be held accountable for such occurrences. Please use discretion and make sure you have advanced knowledge of ASP.NET web development before accessing this site.

    In case of posting user profiles, please refrain from sending contents that are offensive or inappropriate.
</p>


<h3>2. PRIVACY POLICY</h3>
<p>
    Any post from a user is not covered by privacy policy. Users should use fake information or information that is available publicly in order to test the web application.
</p>

<h3>3. SET GOVERNING LAW</h3>
<p>
    The use of any material not owned by the developer and included in this site is covered under Fair Use for educational purposes.

    These terms and conditions are governed by the laws of the United States of America and the laws of the State of Virginia.
</p>



<p>
    <br />
    
    <strong>Contact developer:</strong>

    <br />Primary: alemayehubini@gmail.com
    <br />Secondary: balemaye@masonlive.gmu.edu
    <br /><br />Copyright © 2020. Binitutor.com.
</p>










    

